* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  /*grid position*/
  margin: 0;
  padding: 0;
  height: 98vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  background-size: cover;
  background-position: center;
  background-image: url(https://i.imgur.com/HvCJy4Y.jpg);
}

h1, h2{
  font-family: 'Seymour One', sans-serif;
  text-decoration: underline;
  color: white;
  font-size: 40px;
}
p{
  font-family: 'Seymour One', sans-serif;
  color: white;

}
h3, .hiScore{
  font-family: 'Seymour One', sans-serif;
  color: white;
  font-size: 30px;
  margin-left: 7px;
}
.hi-score-container{
  font-family: 'Seymour One', sans-serif;
  color: white;
  font-size: 30px
}
 button, .score{
  font-family: 'Seymour One', sans-serif;
  width: 140px;
  height: 40px;
}

div.grid {
  /*grid*/
  width: 440px;
  height: 440px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

div.grid-item {
  /*grid boxes*/
  width: 40px;
  height: 40px;
  /* border: 1px groove grey; */
}

div.grid-item.snake {
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}

div.grid-item.food{
  background-color:springgreen; 
  /* border-radius: 25%; */
  animation: pulse 3s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0);
		box-shadow: 0 0 0 0 springgreen;
	}

	70% {
		transform: scale(1);
		box-shadow: 20 20 20 20px springgreen;
	}

	100% {
		transform: scale(0);
		box-shadow: 0 0 0 0 springgreen;
	}
}
div.wrapper{
  display: flex;
  flex-flow:column;
  align-items: center;
}
div.info{
  display: flex;
  flex-flow:column;
  align-items: center;
  padding: 10px;
}
body > div > div > div > p{
  color:white;
  font-family: 'Seymour One', sans-serif;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: springgreen;
  animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
  }
}

#info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

body > div > div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Seymour One', sans-serif;
}

.hiScore, .hi-score-container{
  color: white;
  font-family: 'Seymour One', sans-serif;
  margin-right: 5px;
}

.start, .reset, .stopStart{
  margin: 10px;
}
