* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  /*grid position*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url();
  background-size: cover;
}

div.grid {
  /*grid*/
  width: 440px;
  height: 440px;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
}

div.grid-item {
  /*grid boxes*/
  width: 40px;
  height: 40px;
  border: 1px groove white;
}

div.grid-item.snake {
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.food{
  background-color: red; 
}
div.grid-item.wall{
  background-color: springgreen; 
}
div.wrapper{
  display: flex;
  flex-flow:column;
  align-items: center;
}
div.info{
  display: flex;
  flex-flow:column;
  align-items: center;
  padding: 10px;
}


